<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" />
  <title>SuperVote</title>

  <link rel="stylesheet" href="styles/index.processed.css">

</head>

<body>

  <div class='wrapper'>

    <div class='header gradient'>
      <div class='header-home'>SuperVote
      </div>
      <div class='header-menu'>
        <div class='header-menu-btn'>login
        </div>
        <div class='header-menu-btn'>signup
        </div>
      </div>
    </div>
    <!--end header-->

    <div class='main'>
      <div id='main-head'>
        <h1>Lewis</h1>
      </div>
      <div class='split-main'>
        <div class='main-left'>
					<p>Lewis joined on 01 Jan, 1900.</p>
					<p>They've submitted 0 questions with 0 total responses.</p>
        </div>
        <div class='main-right'>
          <div class='profile-question'>
						<a href='#'>Do you like tulips?</a> [0] - 03 Jan 1900
					</div>
					<div class='profile-question'>
						<a href='#'>Do you like tortoises?</a> [0] - 02 Jan 1900
					</div>
					<div class='profile-question'>
						<a href='#'>Do you like turtles?</a> [0] - 01 Jan 1900
					</div>
        </div>
				<!--end main-right-->
      </div>
      <!--end split-main-->
    </div>
    <!--end main-->

    <div class='footer-push'></div>
  </div>
  <!--end wrapper-->

  <div class='footer gradient'>
    <div class='footer-links'>
      <a href='#'>about</a>
      <a href='#'>privacy</a>
      <a href='#'>contact</a>
    </div>
  </div>

  <!-- Scripts -->
  <script src="scripts/index.js"></script>
</body>

</html>